body {
    height: 100vh;
    margin: 0;
    padding: 0;
}


header {
    height: 10vh;
    position: relative;
    background-color: red;
    margin: 0;
    padding: 0;
}

.topmost {
    position: relative;
    top: 1.5vh;
}

.logoText {
    position: relative;
    max-width: 50vw;
    /* border: 1px black solid; */
    left: 1vw;
}

.navigation {
    position: absolute;
    width: 8vw;
    font-size: 0;
    /* border: 1px rgb(0, 0, 0) solid; */
    left: 90vw;
    top: 0vh;

}

.navigation a {
    margin: 0 0.5vw;
}


.titlePage {
    position: absolute;
    left: 50vw;
    top: 4vh;
}

main {
    font-size: 0;
    height: 76vh;
    position: relative;
    background-color: rgb(136, 50, 50);
}


/* GAME 1 */
    .leaderboardhouseC {
        border: 1px black solid;
        width: 20vw;
        position: absolute;
        top: 20vh;
        height: 56vh;

    }

    .gameContainer {
        border: 1px black solid;
        position: relative;
        width: 75vw;
        height: 76vh;
        left: 20vw;
    }


    #game-OneHouseC {
        border: 1px black solid;
        width: 25vw;
        max-width: 25vw;
        height: 35vh;
        max-height: 35vh;
        position: absolute;
        top: 35vh;
        left:15vw;
    }

    #game-TwoHouseC {
        
        position: absolute;
        border: 1px black solid;
        width: 25vw;
        max-width: 25vw;
        height: 35vh;
        max-height: 35vh;
        top: 10vh;
        left: 45vw;
    }


.gameFrame1 {
    /* border: 1px solid; */
    width: 78.5vw;
    height: 65vh;
    /* background-color: #64f95c; */
    z-index: 5;

    position: relative;
    top: 3vh;


}

.leftSide {
    position: relative;
    border: 1px solid;
    width: 15vw;
    max-width: 15vw;
    height: 65vh;
    left: 5vw;
    top: 3vh;
}

.gameFram1RightSide {
    position: relative;
    /* background-color: #64f95c; */
    border: 1px solid;
    width: 15vw;
    max-width: 15vw;
    height: 65vh;
    top: -59vh;
    left: 80.2vw;
}

.tiles1stGame {
    border: 1px black solid;
    position: absolute;
    background-color: bisque;
    border: 1px black solid;
    top: 3vh;
    left: 20vw;
    width: 60vw;
    height: 61vh;


    display: flex;
    justify-content: space-evenly;
    align-items: center;

}


.tiles1stGame button {
    position: relative;
    left: 1.7vw;
    width: 5vw;
    height: 5vh;
    margin: 1vh 0;
}

.centerDown {
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    left: 20.05vw;
    bottom: -3vh;
    background-color: bisque;
    z-index: 10;
    width: 60vw;
    height: 7vh;
}

.centerDown h4 {
    font-size: 1vw;
    border: 0.2vw black solid;
    border-radius: 10%;
    padding: 0.1vh 0.3vw;

    /* Center the text horizontally and vertically */
    display: flex;
    align-items: center; 
    position: relative;
    top: 0vh;
    /* Optional: set width/height to ensure consistent size */
    width: 12vw;
    height: 4vh;
}


#timerGlassHour {
    width: 8vw;
    height: 29vh;
    position: relative;
    margin: 2vh 3.5vw;
}

#powerUpJar {
    width: 12vw;
    height: 29.5vh;
    position: relative;
    padding: 0vh 1.5vw;
}

        .tutorial-dialogue {
            background-color: rgb(255, 255, 255);
            font-size: 1.5vh;
            padding-top: 0.5vh;
            /* margin-bottom: 0.5vh; */
        }

        #headTitle {
            font-weight: bold;
            text-align: center;
            padding-bottom: 1vh;
            /* background-color: #64f95c; */
            z-index: 2;
        }

        #game1Tut {
            position: relative;
            max-width: 13vw;
            padding: 1vh 1vw;
            margin: 2vh 1.5vw;
            height: 23vh;
        }



        #game2Tut {
            position: absolute;
            /* bottom: 5vh; */
            top: 30vh;
            height: 27.9vh;
            max-width: 10vw;
            padding: 1vh 1vh;
            /* padding: 1vh 1vw; */

            
        }

        .containerTut {
            text-indent: 1.5vw;
            position: relative;
            top: -2vh;
            overflow-y: auto;  
            overflow-x: hidden;

        }


        #game1Tutorial {
            height: 16vh;
            position: relative;
            top: 1vh;
            margin-top: 1vh;

        }

        #game2Tutorial {
            
            height: 16.5vh;
            padding-left: 1vw;
        }


#game1character {
    max-width: 13vw;
    position: relative;
    margin: 0vh 1.1vw;
    width: 13vw;
    height: 34vh;
}

.rightPartGame2 {
    background-color: rgb(205, 119, 8);
    width: 42vw;
    height: 60vh;
    margin-right: 6vw;

    position: absolute;
    right: 0;

    
    display: flex;
    align-items: center; 
    justify-content:space-around;

    


}
.rowsGame2 button {
    height: 3vh;
    width: 3vw;

}



.leftPartGame2 {
    background-color: rgb(43, 67, 248);
    z-index: 1;
    width: 42vw;
    height: 60vh;
    margin-left: 6vw;

    position: absolute;
    left: 0;
}

.correct-outfit {
    width: 20vw;
    height: 27vh;
    border: 1px black solid;
    position: relative;
}

.guessed-outfit {
    width: 28vw;
    height: 40vh;
    border: 1px black solid;
    position: absolute;
    top: 20vh;
    right: 0vw;
}

.current-status {
    position: absolute;
    background-color: white;
    font-size: 1.8vh;
    width: 17.5vw;
    height: 12vh;
    top: 4vh;
    right: 2vw;
}

#status-update {
    padding-left: 2vw;
}

.underscreen {
    color: white;
    position: absolute;
    /* background-color: rgb(78, 17, 151); */
    width: 86.7vw;
    height: 20vh;
    left: 6vw;
    top: 60.1vh;
}

.textPrevGuesses {
    /* background-color: chartreuse; */
    width: 86.7vw;
    height: 3vh;
    margin-top: 1vh;
    z-index: 1;
    font-size: 1.5vh;
}

.guideForGame2 {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.2vh !important;
    display: flex;
    justify-content: space-evenly;
    width: 50vw;
}

.indicator-game2 {
    padding: 1vh 1vw;
    border: 0.1vw solid;
    position: relative;
    top: -1.5vh;
    width: 15vw;
    margin-top: 2vh;
    margin-left: 2vw;
}

.PrevGuesses {
    padding: 2vh 0;
    z-index: 1;
    background-color: #64f95c;
    position: relative;
    top: -0.3vh;
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
}

.guesses{
    border: 1px solid;
    width: 13vw;
    height: 10vh;
}


.game2Table{
    background-color: azure;
    position: absolute;
    left: 50.7vw;
    width: 42vw;
    max-width: 42vw;
    height: 60vh;

    padding-bottom: 3vh;

}

.game2Table td {
    text-align: center;
    vertical-align: middle;
    padding: 0;
}

.game2Button {
    display: flex;
    justify-content: space-evenly;

}


.guideIndicator, .colorShowOff {
    height: 1vh;
    max-height: 1vh;
}

.game2Table input[type="radio"] {
    display: block;
    margin: auto;
    position: relative;
    top: -1.5vh;
    width: 2.5vw;
    height: 1.5vw;
    appearance: none;
    border: 0.1vh solid black;
    background-color: white;
    cursor: pointer;
    border-radius: 50%;
    
}

.game2Table input[type="radio"]:checked::before {
  content: "";
  display: block;
  width: 1.5vw;
  height: 1vw;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


tr{
    background-color: #64f95c;
}

.game2Button button{
    font-size: 1.5vh;
}

#row-10 {
    position: absolute;
    right: 2vw;
    width: 18vh;
}

.game-leftSide-topScores, .game-rightSide-rating {
    height: 62vh;
    display: flex;
}

.names-Leaderboard {
    width: 35vw;
}

.headingsLeaderboard {
  text-align: center;
  background-color: violet;
}

.headingsLeaderboard h2 {
  margin: 0;         /* Remove default h2 margin */
  padding: 0;        /* Optional: Also remove h2 padding */
}


.table-LeaderBoard {
    font-size: 1.5vh;
    left: 10vw;
    width: 80vw;
    height: 63vh;
    display: flex;
    position: absolute;
    top: 11vh;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
    
}

.chooseGameLeaderboard {
    /* background-color: rosybrown; */
    padding-bottom: 2vh;
    left: 18vw;
    width: 65vw;
    display: flex;
    justify-content: space-evenly;

    position: relative;
}

.chooseGameLeaderboard button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5vh;
  width: 23vw;
  height: 5vh;
  margin-top: 3vh;
}



.topScorers {
    width: 64vw;
    margin: 1vh 1vh;
}

.topScorers-rating {
    margin: 1vh 1vh 1vh 0;
    width: 13vw;    
}




footer {
    height: 12.7vh;
    position: relative;
    background-color: aqua;
    text-align: center;
    
}

.Footer {
    font-size: 1.5vh;
    position: relative;
    top: 2vh;

}

#st-Line{
    font-weight: bold;
}
#contacts {
    position: relative;
    bottom: 0;
}

#ndrd-Line{
    position: relative;
    top: -1.2vh;
}

img {
    height: 2vw;
}



top: -15%;
                left: 15%;
                position: relative;
                overflow-y: auto;  
                overflow-x: hidden;