body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#aspect-ratio-wrapper {
    width: 100vw;
    height: 56.25vw; /* 9/16 = 0.5625 */
    max-height: 100vh;
    max-width: 177.78vh; /* 16/9 = 1.7778 */
    position: relative;
    /* overflow: hidden; */
}

#game-container {
    width: 100%;
    height: 100%;
    border: solid 1px black;
}


header {
    height: 8%;
    background-color: yellow;
    margin: 0;
    padding: 0 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    #game-logo {
        width: 4%;
        height: auto;
    }

    nav {
        display: flex;
        width: 8%;
        justify-content: space-between;
        flex-direction: row;
    }

    nav img{
        max-width: 2vw;
        height: auto;
        cursor: pointer;
    }
}

.home-page main{
    background-image: url("assets/images/home-screen-background.png");
}

.game1-page main{
    background-image: url("assets/images/game-screen-background.jpg");
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.game2-page main{
    background-image: url("assets/images/game-screen-background.jpg");
}

main {
    font-size: 0;
    height: 84%;
    position: relative;
    background-size: 100% auto;

    #title-card {
        position: absolute;
        width: 30%;
        height: auto;
        left: 35%;
        top: 5%;
    }

    #leaderboard-house {
        border: 1px black solid;
        width: 20%;
        position: absolute;
        top: 40%;
        height: 60%;
    }

    #game-route-container {
        position: relative;
        width: 80%;
        height: 100%;
        left: 20%;
    }

    #game1-house {
        width: auto;
        height: 50%;
        position: absolute;
        top: 45%;
        left: 10%;
    }

    #game2-house {
        position: absolute;
        width: auto;
        height: 50%;
        top: 45%;
        left: 55%;
    }


    .game1-content {
        width: 80%;
        height: 88%;
        display: flex;
        flex-direction: row;
    }

    .gameFrame1 {
        width: 80%;
        height: 100%;
        background-color: #2c47d1;
        z-index: 5;
    }

        #game1-left {
            border: 1px solid;
            width: 20%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
        }
        
            #timerGlassHour {
                width: 60%;
                height: 45%;
            }

            #powerUpJar {
                width: 80%;
                height: 45%;
            }

        #game1-center {
            height: 100%;
            width: 60%;
            display: flex;
            flex-direction: column;
        }
            #game1-matrix-container {
                width: 100%;
                height: 90%;
                display: flex;
                justify-content: center;
                align-items: center;
            }

                #game1-tile-matrix {
                    border: solid 1px black;

                    border-collapse: collapse;
                    border-spacing: 0;
                    padding: 0;
                    margin: 0;
                }

                #game1-tile-matrix td {
                    padding: 0;                
                    margin: 0;
                    border: none;      
                }
                    .tile {
                        perspective: 1000px; /* Adds 3D effect */
                        cursor: pointer;
                    }

                    .tile-inner {
                        position: relative;
                        width: 100%;
                        height: 100%;
                        transform-style: preserve-3d;
                        transition: transform 0.6s;
                    }

                    .tile.flipped .tile-inner {
                        transform: rotateY(180deg);
                    }

                    .tile-front, .tile-back {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        backface-visibility: hidden;
                    }

                    .tile-front img, .tile-back img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }

                    .tile-back {
                        transform: rotateY(180deg);
                    }

            #game1-stat-container {
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                width: 100%;
                height: 10%;
            }

            #game1-stat-container {
                background-color: red;

                display: flex;
                justify-content: space-evenly;
                align-items: center;
                width: 100%;
                height: 10%;
            }

            #game1-stat-container div{
                width: 30%;
                height: 100%;
                display: flex;
                flex-direction: row;
            }

            #game1-stat-container h4 {
                font-size: 1vw;
                text-align: right;
                color: yellow;
            }


        #game1-right {
            border: 1px solid;
            width: 20%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
        }
            #game1-dialogue-container{
                height: 40%;
                width: 80%;
                background-color: #6a74a0;
                display: flex;
                flex-direction: column;
                text-align: center;
            }

            #game1-dialogue-container h2{
                background-color: #2aae23;
                font-weight: bold;
                font-size: 1vw;
                text-align: center;
            }

            #game1-mascot {
                width: 80%;
                height: 46%;
            }

    
    .game2-content {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

        #game2-top {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 70%;
        }

            #game2-left {
                /* background-color: #2c47d1; */
                width: 50%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }

                #correct-order {
                    width: 15%;
                    height: 30%;
                    border: 1px black solid;
                    position: absolute;
                    top: 5%;
                    left: 3%;
                }

                #game2-status {
                    position: absolute;
                    background-color: white;
                    font-size: 1vw; 
                    width: 16%;
                    height: 16%;
                    top: 5%;
                    left: 32%;
                    padding: 0.5%;
                }

                     #game2-status h3,p {
                        margin: 0;
                        padding: 0;
                     }

                #game2-tutorial-container{
                    position: absolute;
                    top: 5%;
                    left: 2%;
                    font-size: 1vw;
                    height: 30%;
                    width: 20%;
                    border: #6a74a0 solid 2px;
                }

                #guessed-order {
                    width: 50%;
                    height: 70%;
                    border: 1px black solid;
                    background-color: aqua;
                    display: grid;
                    grid-template-columns: 1fr 1fr; /* 2 columns */
                    grid-template-rows: 1fr 1fr;    /* 2 rows */
                    place-items: center;
                }

                    #guessed-order div {
                        border: 1px solid black;
                        background-color: #6a74a0;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 85%;
                        height: 85%;
                    }

                    #guessed-order div img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }

            #game2-cabinet {
                height: 100%;
                width: 50%;
                background-color: brown;
                display: flex;
                justify-content: center;
                align-items: center;
            }

                #game2-cabinet form{
                    width: 95%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                #game2-cabinet table{
                    width: 100%;
                    height: 90%;
                    border-collapse: collapse;

                }

                    #game2-cabinet input[type="radio"]:checked + img {
                        outline: 5px solid red;
                        outline-offset: -3px;
                        border-radius: 4px;
                    }

                #game2-cabinet table td {
                    text-align: center;
                    vertical-align: middle;
                    padding: 0;
                    border-bottom: #a76c3f solid 10px;
                }

                #game2-cabinet input[type="radio"] {
                    display: none;
                }

                #game2-cabinet table img {
                    cursor: pointer;
                    width: 60%;

                }
                
                thead {
                    height: 10%;
                }

                tbody {
                    height: 50%;
                }

        #game2-bottom {
            color: white;
            background-color: rgb(0, 0, 0);
            width: 100%;
            height: 30%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

            #game2-stat-container {
                width: 100%;
                height: 20%;
                font-size: 1vw;
                display: flex;
                justify-content: center;
                align-items: center;
            }
                #game2-attempt-title {
                    width: 50%;
                    height: 100%;
                    letter-spacing: 0.5vh;
                }

                #game2-stat {
                    width: 80%;
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                }

            #game2-attempt-container {
                height: 80%;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
            }

            #game2-attempt-container > div{
                border: 1px solid white;
                background-color: yellow;
                width: 12.5%;
                height: 80%;

                display: flex;
                flex-direction: row;

            }

            #game2-attempt-container .attempt-image-container{
                width: 85%;
                height: 100%;

                display: grid;
                grid-template-columns: 1fr 1fr; /* 2 columns */
                grid-template-rows: 1fr 1fr;    /* 2 rows */
                place-items: center;
            }

                .attempt-image-container div {
                    border:#a76c3f solid 1px;
                    width: 60%;
                    height: 80%;
                }

                #game2-attempt-container img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

            #game2-attempt-container .attempt-hints {
                border: #2aae23 solid 1px;
                width: 15%;
                height: 100%;

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

                #game2-attempt-container .attempt-hints h3 {
                    width: 50%;
                    height: 50%;
                    padding: 0;
                    margin: 0;
                }


    #leaderboard-content {
        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: row;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

        #leaderboard-switch-button-container {
            width: 80%;
            height: 10%;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
        }

            #leaderboard-switch-button-container button {
                height: 60%;
                width: 40%;
                font-weight: bold;
                font-size: 0.5vw;
                cursor: pointer;
                border-radius: 0.5vh;
            }

            /* Table container */
        #leaderboard-table-container {
            width: 100%;
            height: 80%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

            #leaderboard-table-container input[type="radio"] {
                display: none;
            }

            #leaderboard-table-container input[type="radio"]:not(:checked) + table {
                display: none;
            }

            #leaderboard-table-container table{
                width: 90%;
                height: 90%;
            }

            #leaderboard-table-container tbody{
                overflow-x: scroll;
            }

            #leaderboard-table-container table, tr, th, td{
                border: solid 1px black;
            }

            #leaderboard-table-container th {
                margin: 0;
                padding: 0;
                font-size: 1vw;
            }

            #game1-board{
                background-color: red;
            }

            #game2-board{
                background-color: green;
            }
}



footer {
    background-color: aqua;
    height: 6%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer p {
    margin: 0;
    padding: 0;
    font-size: 10%;
}

